.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__button {
    border: none;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main__button:hover {
    background-color: #fcfcfd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.main__button:active {
    background-color: #004494;
}

.main__img {
    width: 408px;
}

@media screen and (max-width: 576px) {
    .main {
        padding: 20px;
    }

    .main__button {
        padding: 20px;
        border-radius: 20px;
    }

    .main__img {
        width: 100%;
    }
}
