.scanner {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 60px;
  overflow: hidden;
}
/* Effekt bei erfolgreichem Scannen */
.scanner-success {
  border-color: green;
  animation: pulse 0.5s infinite; /* Pulsierende Animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 992px) {
  .scanner {
    border-radius: 42px;
  }
}

@media screen and (max-width: 768px) {
  .scanner {
    border-radius: 26px;
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .scanner {
    border-radius: 16px;
    width: 100%;
    margin-top: 20px;
  }
}
