.container {
  background: white;
}

.item {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: calc(100% - 40px);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

.item__rating__star {
  color: #febd69;
}

.item > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.item > button {
  background: #56585a;
  margin-top: 10px;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 30px;
  width: 100%;
  border: none;
}

.item > button:hover {
  background: #d7d5cc;
  color: #1a1d20;
}

.item > button:active {
  background: #ffd814;
}

.item__price {
  margin-top: 5px;
}

.item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 25px;
}

.cartItem__incrDec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100px;
}

.cartItem__incrDec button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  border: none;
  border-radius: 100px;
  transition: scale 0.2s ease;
}

.cartItem__incrDec button:hover {
  scale: 1.1;
}

.cartItem__incrDec button:active {
  scale: 0.9;
}

.cartItem__incrDec button:disabled {
  scale: 1;
}

/* @media (max-width: 786px) {
  .item__info {
    height: 120px;
  }
} */

@media (max-width: 600px) {
  .item {
    margin-bottom: 10px;
  }

  .item__info {
    justify-content: unset;
  }
}
